<div class="jumbotron">
    <h2>On Beat! Free and Easy</h2>
    <br>
    <h4>This app is Mad Cool!</h4>
    <br>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger" %>




</div>